.containerNavbar {
  background-color: #f7f8fb;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #818999;
  margin-bottom: 0px;
  text-align: center;
  .spanElement {
    cursor: pointer;
    height: 45px;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .spanElement:hover {
    text-decoration: none;
    border-bottom: 2px solid #9b51e0;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.containerHover {
  transition: 1s;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 10;
}
