.container_skelleton {
  padding: 10px;
  .bread_crumb {
    color: #2fc9af;
    font-size: 18px;
    font-family: 'Poppins';
  }
  .skelleton {
    width: 100%;
    height: 250px;
  }
  .skelleton_hero {
    width: 100%;
    height: 750px;
  }
}
